* {
    margin: 0;
}
body{
    background: yellow;
}

#head {
    color: red;
    background: black;
    text-align: center;
    font-size: 10em;

}

#main {
    padding-left: 20px;
   
    background: white;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background:red;
    height: 636px;
    width: 100%;
}

.column-1 > div {
    margin: 0;
}
.colona > img{
    width: 100%;
}
.fire > img{
    width: 100%;
}

