* {
    margin: 0;
}

#head {
    color: red;
    background: black;
    text-align: center;
    font-size: 10em;

}

#main {
    width: 80%;
    height: 800px;
    margin-left: 10%;
    background: green;
}