* {
    margin: 0;
}
body{
    background: yellow;
}

#head {
    color: red;
    background: black;
    text-align: center;
    font-size: 10em;

}

#main {
    padding-left: 20px;
   
    background: white;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background:yellow;
    height: 800px;
    width: 100%;
}
.container > div.column-1 {
    background-image: url(../img/kirpich.jpg);
    background-size: cover;

}
.container > div.column-2 {
    background: green;

}
.colona > img{
    width: 100%;
}
.fire > img{
    width: 100%;
}

